body {
    background-color: gray;
    margin: 25px;
}

.desc {
    position: relative
}

.desc-text {
    position: absolute;
    top: 57px;
    left: 120px;
}

#qse {
    width: 100px;
    padding: 5px; background-color: rgb(142, 164, 210); 
}



#meu-nome {
    text-align: center;
}